# Домашнее задание 1 - PANDAS

### О задании

Задание состоит из двух разделов, посвященных работе с табличными данными с помощью библиотеки pandas и визуализации с помощью matplotlib. В каждом разделе вам предлагается выполнить несколько заданий. Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение jupyter notebook (будет использоваться в дальнейших заданиях), библиотекам pandas и matplotlib.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов. Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написаем production-кода. 

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*. 

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

### Формат сдачи
Для сдачи задания получившийся файл \*.ipynb с решением необходимо выложить в свой репозиторий github.

## 1. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных. С этой библиотекой мы сейчас и познакомимся.

Основной объект в pandas это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.

Материалы:
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

In [2]:
%pylab inline  
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

Данные находятся в приложенном файле `chipotle.tsv`

#### 1. [0.5 баллов] Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?

In [3]:
data = pd.read_csv("chipotle.tsv", delimiter='\t')
data.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Данные представляют из себя таблицу из 4622 строки, первая из которых - строка заголовков, и 6 столбцов, первый из которых - столбец индексов. Столбцы содержат значения индекс, идентификтор заказа, наименование позиции в заказе, описание состава позиции, цена позиции

#### 2. [0.25 баллов] Ответьте на вопросы:
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара было куплено? (item_name)

In [4]:
uniq_orders = data['order_id'].unique()
uniq_items = data['item_name'].unique()

print('1. Уникальных заказов в выборке: ', len(uniq_orders))
print('2. Уникальных категорий в выборке: ', len(uniq_items))

1. Уникальных заказов в выборке:  1834
2. Уникальных категорий в выборке:  50

#### 3. [0.25 баллов] Есть ли в данных пропуски? В каких колонках?

In [5]:
empties = []
for col in data.columns:
    if data[col].hasnans:
        empties.append(col)

if empties:
    print('Пропуски в колонках: ', ','.join(empties))
else:
    print('Пропусков нет')

Пропуски в колонках:  choice_description

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [6]:
for col in empties:
    if data[col].dtype == 'int64':
        data[col] = data[col].fillna(0)
    else:
        data[col] = data[col].fillna('')
    
data.tail(20)

,order_id,quantity,item_name,choice_description,item_price
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,,$2.15
4614,1831,1,Bottled Water,,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 4. [0.5 баллов] Посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом.

Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [7]:
type(data["item_price"][0])

str

In [8]:
def price(string):
    string = string[1:]
    return float(string)

data["price"] = data["item_price"].apply(price)

data.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

Удалите старую колонку с ценой.

In [9]:
data = data.drop("item_price", axis = 1)

data2 = data.copy()
data2

,order_id,quantity,item_name,choice_description,price
0,1,1,Chips and Fresh Tomato Salsa,,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [10]:
data3 = data.copy()

data3 = data3[['quantity', 'item_name', 'price']]
data3['price'] = data3['price'] / data3['quantity']
data3.drop('quantity', axis=1, inplace=True)
data3

                                  item_name  price
0              Chips and Fresh Tomato Salsa   2.39
1                                      Izze   3.39
2                          Nantucket Nectar   3.39
3     Chips and Tomatillo-Green Chili Salsa   2.39
4                              Chicken Bowl   8.49
...                                     ...    ...
4617                          Steak Burrito  11.75
4618                          Steak Burrito  11.75
4619                     Chicken Salad Bowl  11.25
4620                     Chicken Salad Bowl   8.75
4621                     Chicken Salad Bowl   8.75

[4622 rows x 2 columns]

Какая средняя/минимальная/максимальная цена у товара?

In [11]:
print("Средняя: ", data3['price'].mean())
print("Минимальная: ", data3['price'].min())
print("Максимальная: ", data3['price'].max())

Средняя:  7.084424491562094
Минимальная:  1.09
Максимальная:  11.89

#### 5. [0.25 баллов] Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по item_name)

Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [12]:
data5 = data3.copy()
data5 = data5.drop_duplicates(subset=['item_name'])
data5 = data5.sort_values(by='price')
data5.head(5)

             item_name  price
34       Bottled Water   1.09
18         Canned Soda   1.09
263  Canned Soft Drink   1.25
6        Side of Chips   1.69
40               Chips   2.15

In [13]:
data5.tail(5)

                  item_name  price
7             Steak Burrito  11.75
168   Barbacoa Crispy Tacos  11.75
1132    Carnitas Salad Bowl  11.89
1229    Barbacoa Salad Bowl  11.89
281        Steak Salad Bowl  11.89

#### 6. [0.5 баллов] Сколько раз клиенты покупали больше 1 Chicken Bowl (item_name)?

In [14]:
data6 = data2.copy()

chickenMore1 = data6.loc[(data6['item_name']=='Chicken Bowl') & (data6['quantity'] > 1)]
len(chickenMore1)

33

#### 7. [0.5 баллов] Какой средний чек у заказа? Сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые статистики.

In [15]:
data2

,order_id,quantity,item_name,choice_description,price
0,1,1,Chips and Fresh Tomato Salsa,,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [19]:
data7 = data2.copy()

orders_price = data7.groupby('order_id')['price'].sum()
mean = orders_price.mean()
print('Средний чек заказа: ',mean)

orders_quan = data7.groupby('order_id')['quantity'].sum()
mean = orders_quan.mean()
print('Среднее число товаров: ',mean)

Средний чек заказа:  18.811428571428568
Среднее число товаров:  2.711014176663032

#### 8. [0.25 баллов] Сколько заказов содержали ровно 1 товар?

In [21]:
data8 = data2.copy()

((data8.groupby('order_id')['quantity'].sum()) == 1).sum()

56

#### 9. [0.25 баллов] Какая самая популярная категория товара?

In [57]:
data9 = data2.copy()

popular = data9.groupby('item_name')[['quantity']].sum()
popular.loc[popular['quantity'] == popular['quantity'].max()]

              quantity
item_name
Chicken Bowl       761

#### 10. [0.5 баллов] Какие виды Burrito существуют? Какой из них чаще всего покупают? Какой из них самый дорогой?

In [58]:
data10 = data2.copy()

types = data10[data10['item_name'].str.contains('Burrito')].groupby('item_name')[['quantity', 'price']].sum()
types

                  quantity    price
item_name
Barbacoa Burrito        91   894.75
Burrito                  6    44.40
Carnitas Burrito        60   597.83
Chicken Burrito        591  5575.82
Steak Burrito          386  3851.43
Veggie Burrito          97   934.77

#### 11. [0.75 баллов] В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

Возможно, будет удобно посчитать отдельно среднюю стоимость заказа, добавить ее в исходные данные и сделать необходимые проверки.

*Данный комментарий стоит воспринимать как подсказку к одному из вариантов решений задания. Если в вашем варианте решения он не нужнен, это не страшно*

In [25]:
data11 = data2.copy()

data11['summa'] = data11.groupby('order_id')['price'].transform('sum')
data11[(data11['price'] / data11['quantity'] / data11['summa']) > 0.4]['order_id'].nunique()

1589

#### 12. [0.75 баллов] Предположим, что в данных была ошибка и Diet Coke (choice_description), который стоил $1.25, должен был стоить 1.35. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [31]:
data12 = data2.copy()

new_data = data12[data12['choice_description'].str.contains('Diet Coke')]
sum_before = new_data['price'].sum()
sum_before

326.71000000000004

In [32]:
new_data

      order_id  quantity          item_name choice_description  price
162         73         2        Canned Soda        [Diet Coke]   2.18
200         89         1        Canned Soda        [Diet Coke]   1.09
317        138         1        Canned Soda        [Diet Coke]   1.09
341        148         1  6 Pack Soft Drink        [Diet Coke]   6.49
350        150         2        Canned Soda        [Diet Coke]   2.18
...        ...       ...                ...                ...    ...
4527      1800         1  6 Pack Soft Drink        [Diet Coke]   6.49
4545      1806         1  Canned Soft Drink        [Diet Coke]   1.25
4571      1817         1  Canned Soft Drink        [Diet Coke]   1.25
4585      1823         1  Canned Soft Drink        [Diet Coke]   1.25
4601      1827         1  Canned Soft Drink        [Diet Coke]   1.25

[134 rows x 5 columns]

In [37]:
new_data['price_one'] = new_data['price'] / new_data['quantity']
new_data.loc[(new_data.price_one == 1.25), 'price'] = 1.35
new_data

,order_id,quantity,item_name,choice_description,price,price_one
162,73,2,Canned Soda,[Diet Coke],2.18,1.09
200,89,1,Canned Soda,[Diet Coke],1.09,1.09
317,138,1,Canned Soda,[Diet Coke],1.09,1.09
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
350,150,2,Canned Soda,[Diet Coke],2.18,1.09
...,...,...,...,...,...,...
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4545,1806,1,Canned Soft Drink,[Diet Coke],1.35,1.35
4571,1817,1,Canned Soft Drink,[Diet Coke],1.35,1.35
4585,1823,1,Canned Soft Drink,[Diet Coke],1.35,1.35
4601,1827,1,Canned Soft Drink,[Diet Coke],1.35,1.35

In [53]:
new_data[['price']] = new_data[['price_one']] * new_data[['quantity']]
# new_data2 = new_data[['price_one', 'quantity']].multiply(new_data[['price', 'quantity']], axis=1)

# new_data = new_data[['price_one']].multiply(new_data[['quantity']], axis=1)
new_data
# sum_after = new_data['price'].sum()
# sum_after

ValueError: Columns must be same length as key

#### 13. [0.75 баллов] Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [ ]:
# your code

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [ ]:
# your code

## 2. Визуализации и matplotlib

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. В этом разделе мы этим и займёмся.

У matplotlib, конечно, же есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторое величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить каждый из них. Не менее важно усвоить базовые принципы визуализаций:
- на графиках должны быть подписаны оси;
- у визуализации должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах).
- сетка на графике помогает оценить значения в точках на глаз, это обычно полезно, поэтому лучше ее отрисовывать.

In [ ]:
%matplotlib inline  # нужно для отображения графиков внутри ноутбука
import matplotlib.pyplot as plt

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [ ]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=df.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(df.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
df['date'] = df.order_id.map(dates['date'])

#### 1. [1 балл] Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name. 

Изображайте на двух соседних графиках. Для этого может быть полезен subplot.

In [ ]:
# your code

#### 2. [1 балл] Постройте график зависимости суммы покупок от дней.

In [ ]:
# your code

#### 3. [1 балл] Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
# your code

#### 4. [1 балл] Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
# your code

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

Еще одна билиотека для визуализации: [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Это настройка над matplotlib, иногда удобнее и красивее делать визуализации через неё.